<script type="text/template" id="indexlist-template">
                            <li data-id="<%= id%>" class="js_largeimg" data-index="<%= index%>">
                                <img data-src="<%= img_url%>" src="<%= img_url%>" data-load="1">
                                <div class="list_info">
                                    <div class="list_info_name">
                                        <p class="ellips"><%= title%></p>                                        
                                    </div>
                                    <div class="list_info_fan">返现<b>2.5</b><i>%</i></div>
                                </div>
                            </li>
</script>
<script id="shopping_search_result_tpl" type="text/template">
   <li class="mSearch-li ellips" data-name="<%= title %>" data-count="1" data-id="<%= id %>" data-type="1"><%= title %></li>
</script>
<script id="shopping_search_history_tpl" type="text/template">   
</script>
